body {
    margin: 0 auto;
}

.header {
    text-align: center;
    border-bottom: 3px solid black;
}

#container {
    border: 5px solid black;
    margin: 10% 25%;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(16, 20px);
    justify-content: center;
}

.cell {
    border: 1px solid grey;
    min-width: 20px;
    min-height: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}